.layout-basic-demo .arco-layout-header,
.layout-basic-demo .arco-layout-footer,
.layout-basic-demo .arco-layout-sider,
.layout-basic-demo .arco-layout-sider-children {
  /* color: var(--color-white); */
  background-color: #f7f7f7;
  text-align: center;

  font-stretch: condensed;
  display: flex;
  justify-content: center;
}

.layout-basic-demo .arco-layout-content {
  background-color: #f7f7f7;

  display: flex;
  justify-content: center;
}




.arco-layout-content {
  /* background-color: white !important; */
    height: auto;
    /* display: flex; */
}




.layout-basic-demo .arco-layout-footer {
  height:40px;
  line-height: 40px;
  background-color: #3b3e43;
  color: #7d8186;
}




.menu-demo {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    /* border-radius: 10px; */
    background-color: var(--color-neutral-2);
  }
  .layout-basic-demo .arco-layout-header{
    /* border-radius: 10px; */
    background-color: var(--color-neutral-2);
  }
  
  .menu-demo .arco-menu-inner {
    overflow-y: auto;
    padding: auto 10px;
  }


  .arco-menu-dark {
    background-color: #07828B !important;
}
.arco-menu-item {
    background-color: #07828B !important;
    /* color: #3b3e43 !important; */
    font-weight: bold !important;

}
.arco-menu-item.arco-menu-disabled {
    background-color: #07828B !important;
}
.arco-menu-item.arco-menu-selected {
    background-color: #03616C !important;

}